<style>
    
</style>

<h1>Home</h1>
<div class="center">
<div class="button-container">
    
        <button>Log in</button>
    
        <button>Register</button>
    
        <button>Log out</button>
    </div>
</div>
